<header
  class="w-full items-center flex justify-between p-4 pb-[19px] border-b border-[#E4E4E7]"
>
  <span class="header__right font-InterSemiBold text-base text-dark-700">
    Barcha murojaatlar</span
  >
  <div class="header__left flex items-center gap-x-2">
    <div class="w-9 h-9 rounded-full">
      <img
        h-8
        class="w-full h-full object-cover rounded-full"
        src="assets/images/user_img_placeholder.jpg"
        alt="user img placeholder"
      />
    </div>
    <div>
      <h3
        [style]="{
          whiteSpace: 'wrap',
          brekWord: 'break-word'
        }"
        class="user-name font-InterMedium text-sm text-dark-700"
      >
        Murodov Javohir
      </h3>
      <!-- <p class="font-InterRegular text-xsm text-[#898989]">Admin</p> -->
    </div>
  </div>
</header>
