<ul class="data-list">
  <li class="application-data-li">
    <label class="w-1/2 text-sm text-[#080B22]">Ariza raqami:</label>
    <div class="w-1/2">
      <button
        (click)="copyToClipboard('106031000001')"
        class="flex gap-2 items-center"
        appTooltip
        [delay]="500"
        placement="right"
      >
        <span class="text-[#080B22] font-InterMedium"
          >106031000001</span
        >
        <img src="assets/icons/copy.svg" alt="" />
      </button>
    </div>
  </li>

  <li class="application-data-li">
    <label class="w-1/2 text-sm">Arizachi F.I.SH:</label>
    <p class="w-1/2 text-[#080B22] font-InterMedium">
      MUFLIXANOVA ZULFIYA HALILOVNA
    </p>
  </li>
  <li class="application-data-li">
    <label class="w-1/2 text-sm">Arizachi manzili:</label>
    <p class="w-1/2 text-[#080B22] font-InterMedium">
      Yangiobod MFY, Ibn Sino ko’chasi, 32-uy, 8-noturar-xonadon
    </p>
  </li>
  <li class="application-data-li">
    <label class="w-1/2 text-sm">Xizmat nomi:</label>
    <p class="w-1/2 text-[#080B22] font-InterMedium">456</p>
  </li>

  <li class="application-data-li">
    <label class="w-1/2 text-sm">Hisoblagich o’rnatilgan manzil:</label>
    <p class="w-1/2 text-[#080B22] font-InterMedium">
      Yangiobod MFY, Ibn Sino ko’chasi, 32-uy, 8-noturar-xonadon
    </p>
  </li>

  <li class="application-data-li">
    <label class="w-1/2 text-sm">Telefon:</label>
    <div class="w-1/2">
      <button
        class="flex gap-2 items-center"
        (click)="copyToClipboard('+99894 324 26 36')"
        appTooltip
        [delay]="500"
        placement="right"
      >
        <a  class="text-[#080B22] font-InterMedium" >+99894 324 26 36</a>
        <img src="assets/icons/copy.svg" alt="" />
      </button>
    </div>
  </li>

  <li class="application-data-li">
    <label class="w-1/2 text-sm">Pasport seriyasi va raqami:</label>
    <p class="w-1/2 text-[#080B22] font-InterMedium">AD3472249</p>
  </li>

  <li class="application-data-li">
    <label class="w-1/2 text-sm">Elektron manzili:</label>
    <p class="w-1/2 text-[#080B22] font-InterMedium">---</p>
  </li>

  <li class="application-data-li">
    <label class="w-1/2 text-sm">Holati:</label>
    <div class="w-1/2">
      <span
        class="block px-6 py-1 rounded bg-customBlue max-w-fit text-white text-sm font-InterMedium"
        >Yangi</span
      >
    </div>
  </li>
</ul>
